body{
    background-color: rgb(255, 199, 231);
}


.p1{
    background-color: rgb(255, 251, 0);
    font-size: 30px;
    color: rgb(255, 142, 240);
    text-align: center;
    padding: 5px;
}